@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  @apply tw-border-solid tw-border-4 tw-border-gray-200;
  @apply tw-rounded-full tw-w-8 tw-h-8;
  border-top-color: white;
  border-top-color: white;
  animation: spin 1s linear infinite;
}
.customized-app {
  height: calc(100vh - 20px);
}
.primary-color {
  color: '#48466D';
}

.secondary-color {
  color: '#0E5F76';
}

.tertiary-color {
  color: '#8B4367';
}
.quanternary-color {
  color: '#347474';
}
.primary-color-60 {
  color: '#48466D';
  opacity: 0.6;
}
.secondary-color-60 {
  color: '#0E5F76';
  opacity: 0.6;
}

.tertiary-color-60 {
  color: '#8B4367';
  opacity: 0.6;
}
.quanternary-color {
  color: '#347474';
  opacity: 0.6;
}
